.squareGreen {  
  border: solid 20px green;
  width: 20px;
  background-color: green;
  height: 20px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
}
.squareRed {  
  border: solid 20px red;
  background-color: red;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
